<!DOCTYPE html>
<html lang="en">
  <head>
  <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>


    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="static/imgslider.min.css">

    <script type="text/javascript" src="static/imgslider.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Jefferize your pictures</h3>
      </div>
      <hr/>



      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" class="custom-file-input" style="font-size: 2em; color:red"><br /><br />
        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>

      </form>



 
    <div class="slider">
     <div class="slider responsive">
      <div class="left image">
        <img src="static/before.jpg"/>
      </div>
      <div class="right image">
        <img src="static/after.jpg"/>
      </div>
    </div>
    </div>



    </div>      </div>

      <script type="text/javascript">
      $('.slider').slider();

      </script>
  </body>  

</html>